To Do:

all pages
    global nav
    footer
    styling - glass look? rounded white with shadows for now

category page
    define categories

product list
    list products
    styling - cards
    which information?
    sold out - low opacity/grey
    discount - color box, percentage

Product page
    details
    checkout option (aside?)

