To Do:

all pages
    global nav
    footer
    styling

category page
    define categories

product list
    list products
    styling - cards
    which information?

Product page
    details
    checkout option (aside?)

