* {
    margin: 0;
}

body {
    padding: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: black;
}

.card_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1rem;
}

article {
    border: 0px solid;
    border-radius: 1rem;
    box-shadow: .5rem .5rem 1rem rgba(185, 185, 185, 0.555);
    padding: 1rem;
}